@import './colors';

// Input
$input-bg: $light;
$input-border-radius: 0;
$input-border-width: 0;
$input-border-color: rgba(0, 0, 0, 0.5);
$input-border-width: 1px;
$form-select-border-radius: 0;

input[type='text'].form-control.search {
  border: none !important;
}

.input-group-text {
  border: none !important;
  i.fas,
  i.fa {
    transition: all 0.3s;
    color: $primary;
  }

  &:hover {
    i.fas,
    i.fa {
      color: #fafafa !important;
    }
  }
}

select.form-select > option:hover {
  background-color: $primary !important;
}
