$list-group-active-bg: $primary !important;
// $list-group-border-radius: 0;
// $list-group-border-width: 0;
// $list-group-bg: $background-color;

button.list-group-item.list-group-item-action {
  border-bottom: 1px solid $primary !important;
  transition: background-color 0.3s, color 0.3s;
}

button.list-group-item.list-group-item-action:hover {
  color: #fafafa !important;
  background-color: $primary !important;

  i.fas {
    color: #fafafa !important;
  }
}
